h1 {
  text-align: center;
}

#main_div {
  margin-top: 3%;
  width: 100%;
}

body {
  background-color: rgb(248, 246, 244);
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

#add_book {
  /* border: 1px solid rgb(184, 184, 184);
  border-radius: 20px;  */
  width: 90%;
  display: inline-flex;
  margin-left: 5%;
  margin-right: 5%;
  ;
}

#input_area {
  width: 100%;
  display:inline-flex;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
  background-color: white
}

.inputPiece {
  margin: 2%;

}


#divRead {
  text-align: center;
}

#title, #author, #page{
  width: 100%;
}

input[type=checkbox] {
  transform: scale(2);
  
}


input {
  height: 25px;
  border-radius: 20px;
  border: 2px solid rgb(133, 133, 133);
  font-size: 10px;
}

input::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
  justify-content: center;
  transition: all .3s;
  touch-action: manipulation;
  

}

#add_button {
  background-color: rgb(127, 255, 159);
  border: 2px solid rgb(127, 255, 159);
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

#add_button:hover {
  color: rgb(127, 255, 159);
  background-color: #fff;
}

.edit_button {
  width: 100%;
  color: rgb(255, 215, 36);
  background-color: white;
  border: none;
  height: auto;
  
}
.edit_button:hover {
  
  background-color: #fff;
}

.delete_button {
  grid-area: del;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid rgb(255, 54, 54);
  background-color: rgb(255, 54, 54);
  margin:5%;
}

.delete_button:hover {
  color: rgb(255, 54, 54);
  background-color: #fff;
}

#list {
  width:90%;
  margin: 5%;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 20px;
  display:inline-block ;
  background-color: white;
}



#book_listing{
  display: grid;
  grid-template-areas: 
  'title title title del'
  'auth pages read del';
  
 
  margin: 5%;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 10px;

  
}

#book_listing {
  font-size: 14px;
  color:rgb(134, 134, 134);
}



#bookTitle {
  margin-left: 3%;
  font-size: 20px;
}

#bookTitleDiv {
  grid-area: title;
  color: black;
  
}

#bookAuthorDiv {
  text-align: center;
  grid-area: auth;
  width: 200px;
 
}

#bookPagesDiv {
  text-align: center;
  grid-area: pages ;
  width: 200px;

}

#bookDeleteDiv {
  grid-area: del;
  text-align: center;  
  width: 200px;
}

#bookReadDiv {
  padding: 5%;
  text-align: center;
  grid-area: read;
  width: 100%;
  width: 200px;
  
}

@media only screen and (max-width: 1000px ){
  #bookReadDiv, #bookDeleteDiv, #bookPagesDiv, #bookAuthorDiv, #bookTitleDiv {
    width: 100px;
  }

  #input_area{
    display: grid;
    grid-template-areas: 
    'title author'
    'pages read'
    'btn btn';
    padding: 2%;
  }

  #divAuthor {
    grid-area: author;
  }

  #divTitle {
    grid-area: title;
  }

  #divPages {
    grid-area: pages;
  }

  #divRead {
    grid-area: read;
  }

  #divAdd {
    grid-area: btn;
    text-align: center;
  }

  
}


@media only screen and (max-width: 550px ){
  #input_area{
    display: block;
    padding: 5%;
  }

  #list {
    text-align: center;
  }
  

  #book_listing {
    display: block;
  }

  #divRead {
    display: flex;
  }

  #isRead {
    margin-left: 20%;
    margin-top: 3%;
  }

  #divAdd {
    margin-top: 3%;
  }

  #bookTitleDiv,
  #bookAuthorDiv,
  #bookPagesDiv,
  #bookDeleteDiv
   {
    /* text-align: center; */
    width: 100%;
  }
  #bookReadDiv{
    width: auto;
  }
  
  .edit_button {
    width: auto;
  }
 
  
}








